.slider-single-content {
  box-shadow: none !important;
}

.slider-left {
  right: 115% !important;
}

.slider-right {
  left: 115% !important;
}

.slider-right div,
.slider-left div {
  border: none !important;
}

.slider-left div i,
.slider-right div i {
  font-size: 2.5rem;
  color: rgb(84, 72, 116);
}

.slider-left div i:hover,
.slider-right div i:hover {
  color: rgb(204, 179, 219);
}

.slider-left div i::before {
  font-family: "Material Icons";
  content: "arrow_back_ios";
}

.slider-right div i::before {
  font-family: "Material Icons";
  content: "arrow_forward_ios";
}

@media only screen and (max-width: 960px) {
  .slider-left {
    top: 10%;
    right: 112% !important;
  }

  .slider-right {
    top: 10%;
    left: 110% !important;
  }
}

@media only screen and (max-width: 600px) {
  .slider-left {
    top: 10%;
    right: 110% !important;
  }

  .slider-right {
    top: 10%;
    left: 110% !important;
  }

  .slider-left div i,
  .slider-right div i {
    font-size: 2rem;
    color: rgb(84, 72, 116);
  }
}

@media only screen and (max-width: 400px) {
  .slider-left {
    top: 10%;
    right: 109% !important;
  }

  .slider-right {
    top: 10%;
    left: 108% !important;
  }

  .slider-left div i,
  .slider-right div i {
    font-size: 1.5rem;
    color: rgb(84, 72, 116);
  }
}
